.header__lang {
  list-style-type: none;
  display: flex;
  padding-top: 14px;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header__lang {   
  padding-top: 18px;
  }
}