.place__paragraph {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    }
  
  .place__paragraph:last-child {
    padding-bottom: 0;
  }
  
  @media screen and (min-width: 320px) {
    .place__paragraph {
      max-width: 288px;
      padding: 0 0 25px 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    .place__paragraph {
      max-width: 456px;
      padding: 0 0 25px 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .place__paragraph {
      max-width: 456px;
      padding: 0 0 26px 0;
      font-size: 18px;
    }
  }
  