.intro {
  color: #fff;
  margin: 0;
  box-sizing: border-box;
  border: tomato solid 1px;
}

@media screen and (min-width: 320px) {
  .intro {
    padding-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    padding-top: 88px;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    padding-top: 92px;
  }
}
