.footer__lin {
  list-style-type: none;
  padding-bottom: 32px;
}

  .footer__lin:last-child {
    padding-bottom: 0;
  }


@media screen and (min-width: 768px) {
  .footer__lin {
    padding: 0px 0px 24px 0px;
  }
}
