.cover {
   position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;}

.cover::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  background-color: #2a2c2f;
 opacity: 0.8;
}


@media screen and (min-width: 320px) {
  .cover {
    margin: 0px 0 64px 0px;
  }
}


@media screen and (min-width: 768px) {
  .cover {
    margin: 42px 0px 88px 0px
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 44px 0px 92px 0px
  }
}


@media screen and (min-width: 1280px) {
  .cover {
    margin: 44px 48px 92px 48px
  }
}

