.place {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(content));
   
  }
  
  @media screen and (min-width: 320px) {
    .place {
      padding-bottom: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    .place {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: (2, minmax(content));
      padding-bottom: 73px;
      gap: 48px 28px;
      padding-right: 24px;
      padding-left: 24px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .place {
      padding-bottom: 80px;
      gap: 48px 32px;
      padding-right: 48px;
      padding-left: 48px;
    }
  }
  